#email {
    padding: 50px;
    margin: 50px auto 0;
    width: 500px;
    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: 2px 2px 6px black;
    overflow: hidden;
    border-radius: 20px 0 0 0;
}

#confidential, #top-secret{
    display: inline-block;
    padding: 10px 5px 5px 5px;
    margin-left: 180px;
    border: 4px solid red;
    color: red;
    font-weight: bold;
    width: 50%;
    text-align: center;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    transform: rotate(45deg);
}

.blurred {
    filter: blur(3px);
}