body {
    font-family: sans-serif;
    background-color: rgb(226, 233, 255);
}

.pricing-container {
    display: flex;
    flex: 0 0 200px;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px 40px;
    justify-content: space-between;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    box-shadow: 2px 5px 6px rgb(109, 109, 109);
    max-width: 800px;
    min-width: 350px;
}

h1 {
    margin-top: 10vh;
    text-align: center;
}

.pricing-card {
    flex: 0 0 200px;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(226, 233, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    min-height: 100px;
}

.basic-plan {
    height: 30vh;
    order: 0;
}

.pro-plan {
    height: 30vh;
    flex-grow: 2;
    order: 1;
}

.premium-plan {
    height: 30vh;
    order: 2;
}

.pricing-card:hover {
    transform: scale(1.1);
    box-shadow: 2px 5px 6px rgb(109, 109, 109);

}

.button {
    border: 2px solid black;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    border-radius: 10px;
    background-color: white;
}

.button:hover {
    background-color: rgb(146, 146, 146);
}